.header_wrap {
  max-width: var(--main-width);
  height: var(--header-height);
  margin: 0 auto;
  .subheader {
    height: 38.1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 98px;
    background: rgb(52, 52, 52);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: white;
    .help {
      display: flex;
      gap: 23px;
    }
    button {
      all: unset;
      cursor: pointer;
    }
  }
  header {
    position: sticky;
    top: 0;
    height: 61.9%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
    .control_group {
      flex: 1;
      max-width: 370px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
    }
  }
}
