@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

html {
  --main-width: 1366px;
  --header-height: 105px;
  --footer-height: 335px;

  --color-white: rgb(255, 255, 255);
  --color-black-100: rgb(0, 0, 0);
  --color-black-80: rgb(52, 52, 52);
  --color-black-60: rgb(98, 98, 98);
  --color-black-40: rgb(149, 149, 149);
  --color-black-20: rgb(204, 204, 204);
  --color-accent: rgb(74, 170, 78);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--color-black-80);
}

a,
button {
  all: unset;
  cursor: pointer;
}

h3,
p,
ul,
li {
  all: unset;
}

.container {
  max-width: calc(var(--main-width) - 20px * 2 - 78px * 2);
  margin: 0 auto;
  padding: 20px 98px 78px;
}
