nav {
  flex: 1;
  max-width: 428px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 0 5px;
  .nav_link {
    height: 100%;
    display: flex;
    align-items: center;
    &:hover {
      border-bottom: 1px solid black;
      transition: all 0.4s;
    }
    &.active {
      border-bottom: 1px solid black;
    }
  }
}
